<div class="container">
    <div class="head">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start"
        (selectedTabChange)="onRuleTypeChange($event)">
        <mat-tab label={{heading}}> </mat-tab>
      </mat-tab-group>
      <br>
      <br>
      <div class="userLogin">
        <div class="row lower">
            <div class="col-4">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="card-title">{{card_1_head}}</h5>
                      <p class="card-text">{{card_1_body}}</p>
                      <a href="#!" class="btn btn-primary">Enroll Now</a>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="card-title">{{card_2_head}}</h5>
                      <p class="card-text">{{card_2_body}}</p>
                      <a href="#!" class="btn btn-primary">Enroll Now</a>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="card-title">{{card_3_head}}</h5>
                      <p class="card-text">{{card_3_body}}</p>
                      <a href="#!" class="btn btn-primary">Enroll Now</a>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
</div>