<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:
          <a href="#" class="fa fa-facebook"></a>
          <span class="hidden">|</span>
          <a href="https://twitter.com/iGrit_ITS  " class="fa fa-twitter"></a>
          <span class="hidden">|</span>
          <a href=" https://www.linkedin.com/company/isaac-technovations/
          " class="fa fa-linkedin"></a>
          <span class="hidden">|</span>
          <a href="  https://instagram.com/igrittechnovations?igshid=NTc4MTIwNjQ2YQ==
          " class="fa fa-instagram"></a>
        </span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Igrit Technovations
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Services
            </h6>
            <p>
              <a href="#!" class="text-reset">SAAS Products</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Staffing Service</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Background Verification</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Corporate Training</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="https://twitter.com/iGrit_ITS  " class="text-reset">Twitter</a>
            </p>
            <p>
              <a href="https://www.linkedin.com/company/isaac-technovations/" class="text-reset">Linkedin</a>
            </p>
            <p>
              <a href="https://instagram.com/igrittechnovations?igshid=NTc4MTIwNjQ2YQ==" class="text-reset">Instagram</a>
            </p>
            <p>
              <a href="https://t.me/igrittechnovations_its" class="text-reset">Telegram</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> Rohini Sector 3, Delhi</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              admin@igrittechnovations.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +91 8279*****</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  </footer>
  <!-- Footer -->