<div class="container">
    <div class="row head">
        <h4>
            ITS To be the most preferred networking platform for Jobseekers and Service Seeking Organizations to help them cooperate & collaborate
        </h4>
        <h6>
            "ITS - Transforming IT Complexity into Simplicity"
        </h6>
    </div>
    <div class="row">
        <p>
            iGrit Technovations hence, ITS is a leading innovator in the BPM industry, dedicated to streamlining and optimizing business processes for organizations worldwide. Our cutting-edge software and expert consulting services empower businesses to achieve greater efficiency, agility, and productivity. With a relentless commitment to excellence, we help our clients navigate the complex landscape of modern business, driving growth and success through process excellence.“
        </p>

        <p>
            iGrit Technovations is a staffing and software services driven company with its India headquarters in Delhi and offices in Patna and Bangalore. Being services driven company, ITS has a huge customer base ranging in products as well as services segment of multi-industry network. Partnered with giants in industries like Information Technology, Healthcare & Pharmaceuticals, Telecom, Banking & Finance, Automobile, Software services, Manufacturing, Product Lifecycle Management, Foods & Beverages, Transportation.
        </p>    

        <p>
            The company has been witnessing a tremendous growth rate of 20%+ in the last couple of years fueled by its digital outreach through offerings such as Contingent Workforce Management, Team Transfer, Diversity And Inclusion, Digital Plug and Play, Staff Augmentation, Offshore Application Development, Digital Technology Outsourcing, etc. Our teams are expert in areas such as software application development, CRM/ERP implementation/ customization, Corporate Training, Staffing RPO Service, SAAS Products, Background Verification, Support, etc.
        </p>
    </div>
</div>