h1{
    text-align: center;
}
.heading{
    color: #5785cf;
}
.heading:hover{
    color: black;
}

.slider-container {
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  
  img {
    width: fit-content;
    object-fit: cover;
  }