<div class="container">
    <div class="head">
        <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start"
        (selectedTabChange)="onRuleTypeChange($event)">
        <mat-tab>Employers</mat-tab>
      </mat-tab-group> -->
      <h4 class="heading">Employers:-</h4>
      <div class="userLogin">
        <div class="row lower">
            <div class="col-4">
                <div class="card">
                    <img src="../../../assets/svg/em1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="card-title">Recruitment</h5>
                      <p class="card-text">We specialize in placing top talent across all industries and skill levels and take pride in our exceptional record of successful placements. We vet each candidate carefully, match skills and goals to create a win-win relationship for your company and its new hires.
                    </p>
                      <a href="#!" class="btn btn-primary">Enroll Now</a>
                    </div>
                  </div>
            </div>
        </div>
      </div>
      <div class="userLogin bottom">
        <div class="row lower">
            <div class="hi">
                <div class="card">
                    <img src="../../../assets/svg/em2.jpg" class="card-img-bottom" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="card-title">Recruitment</h5>
                      <p class="card-text">We specialize in placing top talent across all industries and skill levels and take pride in our exceptional record of successful placements. We vet each candidate carefully, match skills and goals to create a win-win relationship for your company and its new hires.
                    </p>
                      <a href="#!" class="btn btn-primary">Enroll Now</a>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
</div>
<div class="container xx">
<h6 class="hh">By partnering with ITS , companies and employers can benefit in the following ways -</h6>
<p class="ok">By partnering with us, companies and employers gain access to a wealth of expertise, cost-saving opportunities, and an enhanced competitive edge.</p>
<ul class="list">
    <li>Collaborating with us, a diversity and inclusion-driven company, ensures a broader talent pool, innovative problem-solving, and a stronger reputation. Embracing diversity leads to better decision-making, increased employee morale, and enhanced market reach. Together, we create a more inclusive and equitable future for all.
    </li>
    <li>You will have access to a diverse pool of talent, which can help you create a more innovative and creative work environment.</li>
    <li>You will also be able to improve the diversity metrics, which can help you to attract and retain top talent.</li>
    <li>In addition, you will be able to create a more inclusive workplace culture, which will lead to improved employee engagement and productivity.</li>
</ul>
</div>
