<div class="container">
    <div class="head">
        <mat-card>
            <mat-card-content class="mat-elevation-z8">
                <!-- <div class="content-head">
                    <h1>Story</h1>
                </div> -->
                <div class="row">
                    <div class="col-3">
                        <h1 class="cards-head">{{joinedNetwork}}K</h1>
                        <p class="cards">Jobseekers have joined ITS Network</p>
                    </div>
                    <div class="col-3">
                        <h1 class="cards-head">{{totalExperience}}+Years</h1>
                        <p class="cards">Experience in RPO Industry</p>
                    </div>
                    <div class="col-3">
                        <h1 class="cards-head">{{totalDiversity}}+</h1>
                        <p class="cards">Diversity candidates placed</p>
                    </div>
                    <div class="col-3">
                        <h1 class="cards-head">{{totalClients}}+</h1>
                        <p class="cards">Clients served</p>
                    </div>
                </div>
            </mat-card-content>
          </mat-card>
    </div>
</div>