.heading{
    margin-top:10px;
    color: #5785cf;
}
.heading:hover{
    color: black;
}
.headingData{
    margin-top: 10px;
    color: black;
}
.mail{
    margin-top: 50px;
}
.rule{
    margin-top: 10px;
    border-radius: 0px !important;
}
.container{
    width: 100%;
    display: contents;
    /* overflow-x: hidden; */
    /* margin-top: 25px; */
    /* width: 50%; */
    /* background-image: url(../../../assets/svg/pngtree-the-background-of-sense-of-science-and-technology-in-information-technology-image_117255.jpg) ; */
}
.left{
    padding-left: 128px;
}
/* .low{
    margin-top: -17px;
} */