<div class="container-fluid fixed">
 <div class="row upper-head">
    <div class="col-3">
        <mat-icon fontIcon="email"></mat-icon>
        <span style="margin-top: -3px;
        position: absolute;">admin@igrittechnovations.com</span>
    </div>
    <div class="col-3">
        <mat-icon>call</mat-icon>
        <span style="margin-top: -3px;
        position: absolute;">+91-5747563</span>
    </div>
    <div class="col-2">
        <button mat-button style="margin-top: -5px;
        position: absolute;">Work At ITS</button>
    </div>
    <div class="col-2">
        <button mat-button style="margin-top: -5px;
        position: absolute;">Upload CV</button>
    </div>
    <div class="col-2">
        <button mat-button style="margin-top: -5px;
        position: absolute;">Post A Job</button>
    </div>
 </div>
 <div class="row lower-head">
    <div class="col-3">
        <img class="logo" src="../../../assets/svg/Logo.jpg">
        <span class="logoHead">Igrit Technovation</span>
    </div>
        <div class="col-9 right">
        <button mat-button class="gap" (click)="toJobs()">JOBS</button>
        <button mat-button class="gap">Industry</button>
        <button mat-button class="gap" (click)="toEmployers()">Employers</button>
        <button mat-button class="gap">Refferals</button>
        <button mat-button class="gap">Resources</button>
        <button mat-button class="gap" (click)="openAboutUs()">About Us</button>
        <button mat-raised-button style="color: #5785cf;" [disabled]="disableButton" (click)="openDialog()">LOGIN</button>
        </div>
 </div>
</div>